.loadingComponent {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: auto;
  color: #f9575c;
  font-size: 15vw;
  -webkit-animation: loadingComponent 3s linear infinite;
  animation: loadingComponent 3s linear infinite;
}
@keyframes loadingComponent {
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
}
